.settingsContainer {
  width: 100%;
  margin-bottom: calc(#{$xxl-size} - #{$xs-size});
}

.blockSettings {
  width: 100%;
  height: auto;
}

.label {
  margin-bottom: $m-size;
}

.block-display-text {
  font-size: $ml-size;
}
