// Timer/BlockDisplay styles

.timerContainer {
  background-color: $primary-color;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  border: 2px solid $border-color;
}

.timer-label {
  font-size: $xl-size;
  margin: $m-size 0;
}

.time-left {
  font-size: $l-size;
}
