button {
  background-color: $primary-color;
  border: 1.5px solid $border-color;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.2);
  color: $text-color;
  font-size: $ml-size;
  margin: 0 $s-size;
  padding: 0.5rem $s-size;
  width: 6rem;
}

button:hover {
  // background-color: lighten($border-color, 15%);
  background-color: $accent-color;
  color: $primary-color;
  border: none;
}

button:active {
  // background-color: $primary-color;
  background-color: $accent-color;
  // border: 1.5px solid lighten($border-color, 5%);
  box-shadow: none;
}

.timer-button {
  height: 5rem;
  margin: 0 $m-size;
  width: 20rem;
}
