button {
  background-color: $primary-color;
  border: 1.5px solid $border-color;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.2);
  color: $text-color;
  font-family: inherit;
  font-size: $ml-size;
  height: $xxl-size;
  margin: 0 $xxs-size;
  padding: 0.5rem $xs-size;
  width: $xxl-size;
}

button:hover {
  background-color: lighten($text-color, 25%);
  color: $primary-color;
  border: none;
}

button:active {
  box-shadow: none;
  transform: scale(0.98);
}

.timer-button {
  margin: 0 $xs-size;
  height: initial;
  padding: $m-size;
  width: 12.5rem;
}

@media only screen and (min-width: $desktop-breakpoint) {
  button {
    font-size: $l-size;
    height: initial;
    margin: 0 $s-size;
    padding: 0.5rem $s-size;
    width: 6rem;
  }

  .timer-button {
    margin: 0 $m-size;
    width: 20rem;
  }
}
