// Space/sizes
$xs-size: 0.7rem;
$s-size: 1rem;
$m-size: 1.6rem;
$ml-size: 2.6rem;
$l-size: 3rem;
$xl-size: 3.4rem;
$xxl-size: 4rem;

// Breakpoints
$desktop-breakpoint: 45rem;

// Colours
$bg-color: #fcf6ee;
$primary-color: #fffdfa;
$text-color: #70616a;
$border-color: #c6bec2;
