// Space/sizes
$xs-size: 0.7rem;
$s-size: 1rem;
$m-size: 1.6rem;
$ml-size: 2.4rem;
$l-size: 3rem;
$xl-size: 3.4rem;
$xxl-size: 4rem;

// Colours
$bg-color: #fcf6ee;
$primary-color: #fffdfa;
$text-color: #70616a;
$border-color: #c6bec2;
// $accent-color: #51291e;
// potential accent colours 51291E 3587A4 34113F 3C1518 34344A 729B79
